<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script>
        window.history.pushState("", "", '/');

        function mark(id) {
            console.log("in mark, id=", id);
            let myDivs = document.getElementsByClassName(id.className);
            for (let i = 0; i < myDivs.length; i++) {
                let myDiv = myDivs.item(i);
                myDiv.style="background-color:red";
            }
        }

        function unmark(name) {
            let myDivs = document.getElementsByClassName(name.className);
            for (let i = 0; i < myDivs.length; i++) {
                let myDiv = myDivs.item(i);
                myDiv.style="background-color:none";
            }
        }
</script>
</head>

<body>
    <div class='main'>
        <div class="alliance">
            <div>
                <p>Alliances</p>
            </div>
            <% localScan.allianceList.forEach(function (alliance, name, playerList) { %>
                <div class="<%= name %>" onmouseover="mark(this)" onmouseout="unmark(this)">
                    <%= name %>
                    <%= alliance.playerList.size %> 
                </div>
            <% }); %>
        </div>
        <div class="corporation">
            <div>
                <p>Corporations</p>
            </div>
            <% localScan.corporationList.forEach(function (corporation, name, playerList) { %>
                <div class="<%= corporation.alliance + ".corp" %>"onmouseover="mark(this)" onmouseout="unmark(this)">
                    <%= name %>
                    <%= corporation.playerList.size %> 
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>